<h1>Game List</h1>


<table class="table table-responsive">
  <thead>
    <tr>
      <th>Players</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td width="30%"><%= game.players %></td>
        <td width="30%"><%= link_to 'Show', game %></td>
        <td width="30%"><%= link_to 'Delete', game_path(game.id), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Game', new_game_path, class: 'btn btn-info' %>
