/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "toastr";
body {
  background-image: url("../images/bowling.jpg");
}
.container {
  margin-top: 30px;
}

header {
  margin-bottom: 24px;
}

#shot-form {
  margin: 24px 0px 36px 0px;
  .btn {
    text-align: center;
  }
}
#error_explanation {
  text-align: center;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  color: #f00;
 }

 .card-title {
   padding: 6px;
   text-align: center;
   background: grey;
 }

 .card-text {
   text-align: center;
 }

 #notice {
   background: lightgreen;
   text-align: center;
   color: white;
 }

 .back {
   margin-top: -45px;
 }
